{% extends "layout.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Welcome {{ g.user.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-right" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">#</a>
            </li>
        </ul>
    </div>
    <div class="navbar-brand ">
        <a class="nav-link" href="/logout">Logout</a>
    </div>
</nav>
<div class="container">


    {% if g.user.is_admin %}
    <div class="row pt-5">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control" id="name" aria-describedby="name"
                                placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="username">Username *</label>
                            <input type="text" class="form-control" id="username" aria-describedby="username"
                                placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password *</label>
                            <input type="password" class="form-control" id="password" aria-describedby="password"
                                placeholder="Enter password">
                        </div>
                        <div class="form-group row">
                            <label for="is_admin" class="col-md-3">Is Admin?</label>
                            <input type="checkbox" class="form-control col-md-6 mt-2" name="is_admin" id="is_admin"
                                aria-describedby="is_admin">
                        </div>
                        <button type="button" id="submit" class="btn btn-primary">Submit</button>

                        <script>
                            $(function () {
                                $('#submit').click(() => {
                                    
                                    $.ajax({
                                        type: "POST",
                                        url: "/users/store",
                                        data: {
                                            name: $('#name').val(),
                                            username: $('#username').val(),
                                            password: $('#password').val(),
                                            is_admin: $('#is_admin').prop('checked') ? 1 : 0,
                                        },
                                        success: function (val) {
                                            if(val.action == 1) {
                                                {% if g.user.is_admin %}
                                                        $("#tabela>tbody:last").append("<tr><td>"+val.next_number+"</td><td>"+val.name+"</td><td>"+val.username+"</td><td>"+(val.is_admin ? 'YES' : 'NO' )+"</td><td><a class=\"btn btn-primary\" href='/users/"+val.id+"/edit'>Edit</a><a class=\"btn btn-danger ml-1\" href=\"/users/"+val.id+"/delete\">Delete</a></td></tr>");
                                                {% else %}
                                                        $("#tabela>tbody:last").append("<tr><td>"+val.next_number+"</td><td>"+val.name+"</td><td>"+val.username+"</td><td>"+(val.is_admin ? 'YES' : 'NO' )+"</td><td></td></tr>");
                                                {% endif %}
                                            }
                                   
                                            $('#msg').removeClass('invisible');
                                            $('#msg').html(val.message);
                                            setTimeout(() => {
                                                $('#msg').addClass('invisible');
                                                if(val.action == 1) {
                                                    $('#name').val('');
                                                    $('#username').val('');
                                                    $('#password').val('');
                                                    $('#is_admin').prop('checked', false);
                                                }
                                            }, 2500);
                                        },
                                        error: function (d) {
                                            console.log(d);
                                        },
                                    });
                                });
                            });
                        </script>
                    </form>

                    <div id="msg" class="alert alert-danger invisible mt-2" role="alert"></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row pt-5">
        <div class="col-md-12 mx-auto">
            <table class="table" id="tabela">
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Is Admin
                    </th>
                    {% if g.user.is_admin %}
                    <th>
                        Action
                    </th>
                    {% endif %}
                </tr>
                <tbody>
                {% for user in users %}
                <tr >
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ user.name }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ 'YES' if user.is_admin else 'NO' }}
                    </td>
                    {% if g.user.is_admin %}
                    <td>
                        <a class="btn btn-primary" href="/users/{{ user.id }}/edit">Edit</a>
                        <a class="btn btn-danger" href="/users/{{ user.id }}/delete">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock content %}